html, body{
    margin: 0;
}
header{
    height: 50px;
    width: 500px;
    display:flex;
  flex-direction: row;
  margin-bottom: 0;

}
img{
    object-fit: scale-down;
    height: 200px;
    width: 400px;
}

h1{
    font-size: 80px;
    color: white;
    text-align: center;

}

.box{
    height: 100%;
    width: 100%;
    position: absolute;
}
.button{
    color: white;
    background-color: #47d1d1;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;

}
.tittle{
    height: 200px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 120px;
}

.Home{
    height: 50px;
    width: 100px;

}
.About{
    height: 50px;
    width: 100px;
    
}
.Contact{
    height: 50px;
    width: 100px;
    
}
.imagebox{
   
    height: 500px;
    width: 100%;
    background-color: #2d5986;
    padding-left: 100px;
    align-items: center;
    padding-top: 10px;

}
.Contentbox{
    height: 1000px;
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    display:flex;
  flex-direction: row;


}
.Groupbox{
    height: 800px;
    width: 1000px;

}
.Group1{
    height: 200px;
    width: 1000px;
    display:flex;
  flex-direction: row;

}
.Content1{
    height: 200px;
    width: 400px;
    margin-right: 100px;
    


}
.imagecontent1{
    height: 200px;
    width: 400px;
    border-style: groove;

}
.textcontent1{
    font-family: georgia;
    text-align: justify;

}
.Content2{
    height: 200px;
    width: 400px;
    margin-left: 100px;

}
.imagecontent2{
    border-style: groove;

}
.textcontent2{
    font-family: georgia;
    text-align: justify;
    
}
.Group2{
    height: 200px;
    width: 1000px;
   display:flex;
  flex-direction: row;

}
.Group3{
    height: 220px;
    width: 1000px;
   display:flex;
  flex-direction: row;

}
.Content3{
    height: 150px;
    width: 400px;
    margin-right: 100px;
    margin-top: 20px;

}
.imagecontent3{
     border-style: groove;

}
.textcontent3{
    font-family: georgia;
    text-align: justify;
    
}
.Group4{
    height: 220px;
    width: 1000px;
   display:flex;
  flex-direction: row;

}
.Content4{
    height: 150px;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;

}
.Content5{
    height: 200px;
    width: 400px;
    margin-right: 100px;
    margin-top: 10px;

}
.Content6{
    height: 200px;
    width: 400px;
    margin-left: 100px;
    margin-top: 10px;

}
.Content7{
    height: 150px;
    width: 400px;
    margin-right: 100px;
    margin-top: 20px;

}
.Content8{
    height: 150px;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;

}
.imagecontent4{
     border-style: groove;

}
.textcontent4{
    font-family: georgia;
    text-align: justify;
    
}
footer {
    text-align: center;
    padding: 50px;
}